@import 'colors';

.body {
    flex: 1;
    background-color: $background;
    height: 100%;

    .content {
        height: 100%;
        width: 100%;
       /* padding-left: 2.5em;
        padding-right: 2.5em;*/
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%
    }

    .server-error {
        font-size: smaller;
        text-align: center;
        color: $failuretext;
        background: white;
        padding-top: 0.313em;
    }
}

