@import 'colors';

.footer-copyright-text {
    flex-grow: 1;
    text-align: left;
    color: $infotext;
    font-size: smaller;
}

.footer-link-text {
    flex-grow: 1;
    text-align: right;
    font-size: smaller;
}

.footer {
    background: $background;
    display: flex;
    flex-direction: row;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}