@import 'colors';
@import 'app';
@import 'header';
@import 'body';
@import 'footer';
@import 'missionFilter';
@import 'missionTable';
@import 'mission';

body
{
    @media (min-width: 540px) {
        width: 50%;
    }
    @media (max-width: 540px) {
        width: 100%;
    }

    padding: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0;
    margin-bottom: 0;
}

#root {
    height: auto;
}